.container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.main-container {
    width: 270px;
    height: 540px;
    position: relative;
    margin: 0 20px;
  }

  .poster-container {
    width: 230px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 9999;
  }